<div class="booyah-box chess-box col-10 offset-1">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <h1>Good Luck!</h1>
  <br>
  <div class="chessboard">
    <% (1..8).each do |y_position| %>
      <div class="row row-<%= y_position %>">
        <% (1..8).each do |x_position| %>
          <% piece = @pieces.detect{|p| p.x_position == x_position && p.y_position == y_position} %>
          <%= link_to piece_path(:x_position => x_position, :y_position => y_position), method: :put do %>
            <div data-x-position="<%= x_position %>"  data-y-position="<%= y_position %>" class="<%= y_position % 2 == x_position % 2 ? "white" : "black" %>">
              <% if piece %>
                <% if piece.id == @piece.id %>
                  <span style="background-color: yellow"><%= image_tag("#{piece.color}-#{piece.type}.png") %></span>
                <% else %>
                  <span><%= image_tag("#{piece.color}-#{piece.type}.png") %></span>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>