<div class="booyah-box offset-1 col-10">
  <h1>List of Available Games</h1>
  <div class="booyah-box">
    <h2>Active Games</h2>
    <br>
    <% if @active_games.present? %>
      <% @active_games.each do |game| %>
        <div class="booyah-box col-md-6 col-sm-12">
          <% if game.white_user_id == current_user.id %>
              <% black_player = User.find_by(id: game.black_user_id) %>
              Opponent: <%= black_player.email %>
              <br>
              Status: <%= game.state %>
              <br>
              Turn: <%= game.turn %>
              <br>  
          <% else %>
            <% white_player = User.find_by(id: game.white_user_id) %>
            Opponent: <%= white_player.email %>
          </div>
            <br> 
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="booyah-box">
    <h2>Open Games</h2>
    <br>
    <% if @open_games.present? %>
      <% @open_games.each do |game| %>
        <div class="booyah-box col-md-6 col-sm-12">  
          <% white_player = User.find_by(id: game.white_user_id) %>
          <%= white_player.email %>
          <br>
          <% if white_player.wins == nil %>
            Wins: 0
          <% else %>
            Wins: <%= white_player.wins %>
          <% end %>
          <br>
          <% if white_player.losses == nil %>
            Losses: 0
          <% else %>
            Losses: <%= white_player.losses %>
          <% end %>
          <div class="float-right">
          <%= simple_form_for game, :method => :put do |f| %>
            <%= f.input :black_user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
            <%= f.submit 'Join Game' %>
          <% end %>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>