<div class="booyah-box chess-box col-10 offset-1">
  <h1>Good Luck!</h1>
  <br>
  <div class="chessboard">
    <% (1..8).each do |y_position| %>
      <div class="row row-<%= y_position %>">
        <% (1..8).each do |x_position| %>
          <div data-x-position="<%= x_position %>"  data-y-position="<%= y_position %>" class="<%= y_position % 2 == x_position % 2 ? "white" : "black" %>">
            <% piece = @pieces.detect{|p| p.x_position == x_position && p.y_position == y_position} %>
            <% if piece %>
              <%= link_to piece_path(piece) do %>
                <span><%= image_tag("#{piece.color}-#{piece.type}.png") %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>