<!DOCTYPE html>
<html>
  <head>
    <title>ChessApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
        <%= link_to 'GHM', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <%= link_to 'Games', games_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to new_game_path, class: 'nav-link' do %>
                <i class="fa fa-chess-pawn"></i>
                New Game
              <% end %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'My Profile', user_path(current_user), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <br>
      <%= yield %>
    </div>
    <br>
    <br>
    <div id="footer">
      <p>Created by:</p>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
            <b>Conner Krall</b>
            <br>
            <%= link_to 'https://connerkrall.netlify.com/' do %>  
              <span class="fa fa-2x social-button fas fa-user-circle"></span>
            <% end %>
            <%= link_to 'http://github.com/ckrallin' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/conner-krall-b2212a28/' do %>  
              <span class="fa fa-linkedin-square fa-2x social-button"></span>
            <% end %>
          </div>
          <div class="col-12 col-sm-3">
            <b>Esteban Espinoza</b>
            <br>
            <%= link_to 'https://eespinoza.netlify.com/' do %>  
              <span class="fa fa-2x social-button fas fa-user-circle"></span>
            <% end %>
            <%= link_to 'https://github.com/estebanespinoza24' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/esteban-espinoza/' do %>  
              <span class="fa fa-linkedin-square fa-2x social-button"></span>
            <% end %>
          </div>
          <div class="col-12 col-sm-3">
            <b>Gregory Eglen</b>
            <br>
            <%= link_to 'https://akagfunk.netlify.com/' do %>  
              <span class="fa fa-2x social-button fas fa-user-circle"></span>
            <% end %>
            <%= link_to 'https://github.com/gregory-eglen' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/gregory-eglen-288530a2' do %>  
              <span class="fa fa-linkedin-square fa-2x social-button"></span>
            <% end %>
          </div>
          <div class="col-12 col-sm-3 social">
            <b>Trey Guy</b>
            <br>
            <%= link_to 'Https://www.treyguy.netlify.com' do %>  
              <span class="fa fa-2x social-button fas fa-user-circle"></span>
            <% end %>
            <%= link_to 'https://github.com/tguy728' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/trey-guy-8983a21b' do %>  
              <span class="fa fa-linkedin-square fa-2x social-button"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
